:root {
    font-family: Roboto, sans-serif;
}

body, html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.Post {
    display: flex;
    flex-direction: column;
    width: 414px;
    height: 435px;
    padding: 20px;
}

.Post__image {
    display: flex;
    width: auto;
    height: auto;
    margin-bottom: 25px;
}

.Post__title {
    display: flex;
    width: 374px;
    height: 46px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
}

.Post__descriptions {
    display: flex;
    margin: 0 auto;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    align-items: center;
    width: 374px;
    height: 53px;
}

.See__more {
    display: flex;
    padding: 0;
    margin: 0;
}

.Post__date {
    display: flex;
    align-items: center;
    text-align: center;
}

.Post__link {
    display: flex;
    align-items: center;
    text-align: center;
}